In [1]:
list=[1,2,3,4,5,6,7,8,9]
for i in list:
    if i%3==0:
        print(i)
        break

3

In [2]:
list=[1,2,3,4,5,6,7,8,9]
for i in list:
    if i%2!=0:
        print(i)

1
3
5
7
9

In [3]:
list=[1,2,3,4,5,6,7,8,9]
for i in list:
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [4]:
for i in range(20,100):
    if i%8==0:
        print(i)
        break

24

In [5]:
for i in range(20,100):
    if i%6!=0:
        continue
    print(i)

24
30
36
42
48
54
60
66
72
78
84
90
96

In [6]:
text='100%'
try:
    number=int(text)
except ValueError:
    print('{}는 숫자가 아니네요.'. format(text))

100%는 숫자가 아니네요.

In [7]:
text='100%'
try:
    number=int(text)
except ValueError:
    print('%s는 숫자가 아니네요.' %text)

100%는 숫자가 아니네요.

In [8]:
for i in range(10):
    try:
        result=10/i
    except ZeroDivisionError:
        print("Not divided by 0")
    else:
        print(10/i)

Not divided by 0
10.0
5.0
3.3333333333333335
2.5
2.0
1.6666666666666667
1.4285714285714286
1.25
1.1111111111111112

In [9]:
try:
    a=10/0
except:
    print('error가 발생했습니다')

error가 발생했습니다

In [10]:
try:
    a=10/0
except Exception as ex:
    print('error가 발생했습니다.',ex)

error가 발생했습니다. division by zero

In [11]:
try:
    a=10/0
except:
    print('error가 발생했습니다')
finally:
    print('종료되었습니다.')

error가 발생했습니다
종료되었습니다.

In [12]:
try:
    a=10/0
except:
    pass

In [13]:
def check(a):
    allowed=['가위','바위']

In [14]:
try:
    check('보')
except:
    print('리스트에 없는 목록입니다.')

In [15]:
def check(a):
    allowed=['가위','바위']
    if a not in allowed:
        raise ValueError

In [16]:
try:
    check('보')
except ValueError:
    print('리스트에 없는 목록입니다.')

리스트에 없는 목록입니다.

In [17]:
a=input('숫자를 입력하시오')
try:
    number=int(a)
except ValueError:
    print('%s는 숫자가 아니네요'%a)

숫자를 입력하시오ㄴ
ㄴ는 숫자가 아니네요

In [18]:
try:
    a='abc'
    b=123 
    c=a+b
except Exception as ex:
    print('error가 발생했습니다.',ex)

error가 발생했습니다. can only concatenate str (not "int") to str